/*default*/
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

/* basic info========================================== */
html,
body {
	height: 100%;
	width: 100%;
	line-height: 1;
	font-size: 16px;
	color: #000;
	font-family: Roboto;
	font-weight: 300;
	background: linear-gradient(to right, #E0C5BD 60%, #E0DFBD 0%);

}


/* ======================================================== */

.wrapper {
	min-height: 100%;
	overflow: hidden;
	width: 100%;
	height: 100%;
	z-index: 1100;
	margin: 0;
}

/*-----------mobile first----------------------------------------------------*/

header {
	min-height: 20vh;
	width: 100vw;
	position: relative;
}

.header_container {
	min-height: 20vh;
	width: 100vw;
}
.header_container_left {
	padding-top: 3%;
	padding-left: 10%;
	position: absolute;
	z-index: 100;

	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box;
	box-sizing: content-box;

	height: auto;
	display: inline;
	align-items: center;

}

.header_container_right {
	min-width: 40%;
	margin-left: 60%;
	padding: 0;
	padding-top: 3%;
	position: absolute;
	z-index: 200;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;

	height: auto;
	display: flex;
	align-items: center;
}
/* ---------top---------------------------------------- */
.logo {
	font-size: 1.5em;
	font-weight: 900;
	color: inherit;
	width: 100%;

}

.navbar {
	font-size: 1em;
	display: block;
	margin-bottom: 0;
	padding:0.3% 0;
	background-color: #4E9996;
	width: 100%;
	padding-right: 10%;

}


.navbar>li{
	width: 100%;
	margin-left: 0;
	padding-left: 5%;
	line-height: 100%;
	color: #fff;
	white-space: nowrap;

}

a {
	font-size: 1rem;
	line-height: 100%;
	color: #fff;
	white-space: nowrap;

}

a:hover {
	color: inherit;
	color: #000;
}


.active {
	color: #000;
	font-weight: 500;
}

.nav-item:not(:last-child) {
	margin: 0px 8% 0px 0px;
}

.nav-item:first-child {
	margin: 0px;
}
/* ---------main pictures---------------------------------------- */



.pics_container{
	height: 80vh;
	width: 100vw;
}

.left-picture {
	width: 100vw;
	height: 50vh;
	position: relative;
}
.left-picture img{
	width: 120%;
	z-index: 0;
	position: absolute;
	left: -20%;
	top: 0;
}

.right-picture {
	width: 100vw;
	height: auto;
	position: relative;
	padding-top:0;
}

.right-picture img {
	
	width: 60vw;
	z-index: 49;
	top: 0;
	margin: 0 auto;
	position: relative;

}

h1 {
	font-size: 1.5em;
	font-weight: 500;
	color: #4E9996;
	text-transform: uppercase;
	line-height: 1em;
	position: absolute;
	top: 0;
	right: 4vw;
	text-align: right;
	word-spacing: 100vw;
	z-index: 49;
}

/* ---------decorations---------------------------------------- */

.animations{
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0px;
}

.top-decore {

	width: calc(975/512*100%);
	position: absolute;
	left: calc(323/1366*100%);
	/*top: -710%;*/
	bottom: 0;
	z-index: 30;

	-webkit-animation: rotation;
	-moz-animation: rotation;
	-o-animation: rotation;
	animation-name: rotation;

	-webkit-animation-duration: 80s;
	-moz-animation-duration: 80s;
	-o-animation-duration: 80s;
	animation-duration: 80s;

	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	animation-iteration-count: infinite;

	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
	-o-animation-timing-function: linear;
	animation-timing-function: linear;
}

.top-container {
	width: 60%;
	height: 15%;
	position: absolute;
	right: 40%;
	z-index: 29;
	overflow: hidden;
}

/* ------------------------------------------------------------ */


.left-decore {

	width: 800%;
	position: absolute;
	right: 20%;
	top: -20%;
	z-index: 20;

	-webkit-animation: rotation;
	-moz-animation: rotation;
	-o-animation: rotation;
	animation-name: rotation;

	-webkit-animation-duration: 80s;
	-moz-animation-duration: 80s;
	-o-animation-duration: 80s;
	animation-duration: 80s;

	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	animation-iteration-count: infinite;

	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
	-o-animation-timing-function: linear;
	animation-timing-function: linear;
}

.left-container {
	width: calc(99/1366*100%);
	height: 100%;
	position: fixed;
	left: 0;
	z-index: 29;
	overflow: hidden;


}

/* ------------------------------------------------------------ */

.right-decore {
	width: 800%;
	position: absolute;
	left: 0;
	top: -20%;
	z-index: 30;

	-webkit-animation: rotation;
	-moz-animation: rotation;
	-o-animation: rotation;
	animation-name: rotation;

	-webkit-animation-duration: 80s;
	-moz-animation-duration: 80s;
	-o-animation-duration: 80s;
	animation-duration: 80s;

	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	animation-iteration-count: infinite;

	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
	-o-animation-timing-function: linear;
	animation-timing-function: linear;
}

.right-container {
	width: calc(99/1366*100%);
	height: 100%;
	position: fixed;
	right: 0;
	z-index: 29;
	overflow: hidden;

}

/* -------------animation--------------------------------------- */

@keyframes rotation {

	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);

}

	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);

}
}

/* ------------------------------------------------------------ */

.shadow {
	height: 100%;
	width: 40%;
	margin-left: 60%;
	margin-right: 0;
	position: absolute;
	z-index: 1;

	-webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	-moz-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	-o-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

	
}

.music {
	width: 20%;
	text-align: center;
	position: absolute;
	left: 60%;
	top: 81%;
	z-index: 150;
}


.animations {
    	display: none;
    }
.music {
	display: none;
}

.bottom-links {
	font-size: 2rem;

}

/* ---------button----------------------------------------------- */

.button {
	position: absolute;
	box-sizing: content-box;
	right: 13%;
	top: 75%;
	width: 26%;
	height: 11%;
	z-index: 100;

}

button {
	background-color: transparent;
	font-weight: 500;
	font-size: 1.5em;
	color: #4E9996;
	letter-spacing: normal;
	border: 0;
	border-radius: 38px;
	text-align: center;
	transition: all .1s linear;
	cursor: pointer;
	position: absolute;
	z-index: 100;
	width: 100%;
	height: 100%;


	-webkit-box-shadow: 0 14px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	-moz-box-shadow: 0 14px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	-o-box-shadow: 0 14px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	box-shadow: 0 14px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

button:active {

	-webkit-box-shadow: 0 2px 5px #000;
	-moz-box-shadow: 0 2px 5px #000;
	-o-box-shadow: 0 2px 5px #000;
	box-shadow: 0 2px 5px #000;

	-webkit-transform: translateY(3px);
	-moz-transform: translateY(3px);
	-o-transform: translateY(3px);
	transform: translateY(3px);
}

/* ---------footer---------------------------------------- */


.footer_container {
	height: auto;
	border-radius: 0;
	width: 100vw;
	left: 0;
	position: fixed;
	background-color: #4E9996;
	margin-right: 0px auto;
	padding: 1%;
	bottom: 0;
	z-index: 1000;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	
}

.bottom {
	background-color: transparent;
	width: 100vw;
	z-index: 100;
}

nav.bottom {
	padding-right: 0px;
}

.row {
	margin: 0 auto;
	width: 100vw;
	text-align: center;

}

.lj {
	padding:0.5em 0em 0.5em 0.5em;
	font-size: 0.5em;
	line-height: 118%;
	color: #A6DDDA;
	white-space: nowrap;
	position: relative;
	top: calc(63/107*100%);
	padding-left: 10%;
	white-space: nowrap;
	text-decoration: none;

}
.col-4 .nav-item {
	margin-right: 0;
}

/*----------tooltips---------------------------------------------*/

.button .tooltiptext {
	visibility: hidden;
	box-sizing: content-box;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.72);
	color: #fff;
	text-align: center;
	border-radius: 1%;
	padding: 3% 0;
	position: absolute;
	z-index: 101;
	bottom: 100%;
	right: 0;
	font-size: 0.6em;
	line-height: 1;
	font-family: Roboto;
	font-weight: 300;
	letter-spacing: normal;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;

}

.button:hover .tooltiptext {
	visibility: visible;
}

.button:active .tooltiptext {
	visibility: visible;

}
/*}*/


/*=========================================*/

@media screen and (min-width: 450px) {


.left-picture img{
	height: 85%;
	width: auto;
	left: -10%;
}

.right-picture img {
	
	width: 60%;
	z-index: 49;
	top: 0;
	margin-right: 0 auto;
	position: relative;

}

.right-picture {
	width: 100vw;
	height: auto;
	position: relative;
	padding-top: 0;
}

h1 {
	font-size: 2.3rem;

}
}

/*=========================================*/

/*=========================================*/

@media screen and (min-width: 700px), (max-height: 320px){
.header_container_left {
	width: 50%;
	padding-left: 10%;
}

.logo {
	font-size: 1.5rem;
}

.navbar {
	margin-top: 0;
	margin-bottom: 0;
	height: auto;
	display: table;
}

.nav-item:not(:last-child) {
	margin: 0px 2% 0px 0px;
}
.nav-item:first-child {
	margin: 0px 2% 0px 0;
}

.navbar>li{
	display: inline;
}

a {
	font-size: 0.8em;
}



/* ---------main pictures---------------------------------------- */

.left-picture {
	width: 60vw;
	height: 87vh;
	position: relative;
}

.left-picture img{
	width: 53vw;
	height: auto;
	z-index: 21;
	position: absolute;
	top: 0;
	left: -10%;
}

.right-picture {
	width: 40vw;
	height: 87vh;
	position: relative;
	float: right;
	padding-top: 4em;
}

.right-picture img{
	
	width: 30vw;
	position: absolute;
	z-index: 49;
	top: 8em;
	right: 0;
	
}

h1 {
	
	font-size: 200%;
	top: 0.5em;
	right: calc(139/1366*100%);
	padding-right: 33%;
	

}

/* ---------decorations---------------------------------------- */

.animations {
    	display: block;
}

.music {
	display: block;
}


/* ---------button----------------------------------------------- */

.button {
	position: absolute;
	left: 29vw;
	top: calc(537/768*100%);
	width: 15vw;
	height:10vh;
	z-index: 100;
	

}

button {
	border: 0;
	background-color: #E0DFBD;
	color: #4E9996;
	font-size: 120%;
}



/* ---------footer---------------------------------------- */


.footer_container {
	height: auto;
	width: 97%;
	border-radius: 60px 60px 0 0;
	/*background-color: #4E9996;
	position: fixed;*/

	margin-right: 0 auto;
	padding: 0;
	bottom: 0;
	left: calc(20/1366*100%);

}

nav.bottom {
	padding-right: 0px;
}

.row {
	list-style: none;
	margin: 1% 10%;
	padding: 0;

}

.col-4:not(:last-child) {
	display: flex;
	justify-content: space-around;
}

.col-4:nth-child(2){
	padding: 0;
	grid-template-columns: auto auto;
	justify-content: start;
}

.col-4>li {
	display: inline-flex;
	padding-right: 2vw;
}

.col-4:last-child>li{
	padding-right: 1vw;
	align-items: flex-end;
}

/* -------------------------------------------------------------- */

.lj {
	font-size: 0.8vw;
}

}

@media screen and (min-width: 1000px){

a {
	font-size: 1em;
}

h1 {
	
	font-size: 300%;
	top: 0.5em;
	right: calc(139/1366*100%);
	padding-right: 33%;
	

}
button {
	font-size: 150%;
}

}
